.board-container{
    display: flex;
    gap: 40px;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    /* overflow: auto; */
    background-color: rgb(235, 241, 243);
    padding: 0px 18px;
}

.board-column {
    flex: 1;
    /* margin: 0 10px; */
    overflow-y: hidden;
}

.tickets-container {
    display:flex;
    flex-direction: column;
    gap: 8px;
}
