.ticket_card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 16px;
    font-size: smaller;
    height: 80px;
    width: 80%;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
}
.flex_between {
    display: flex;
    justify-content: space-between;
}
.flex_gap{
    display: flex;
    gap: 5px;
    align-items: flex-start;
}
.text_wrap {
    display: -webkit-box;
    -webkit-line-clamp: 2;       
    line-clamp: 2;               
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

  
  
.dis_inline {
    display: inline;
    margin: 0px;
    padding-top: 2px;
}
.font_grey{
    color: gray
}